<div id="login_div">
	<form method="get" action="/login">
		<input placeholder="email" type="text" id="email" name="email">
		<input placeholder="password" type="password" id="password" name="password">
		<input type="submit" value="Log In">
	</form>
</div>
