<form id="register_form" class="form" method='post', action='/users'>
  <fieldset>
    <input type='text' name='user[username]' placeholder="Username"/>
    <input type='text' name='user[email]' placeholder="Email"/>
    <input type='password' name='user[password]' placeholder="Password"/>
    <input type="submit" class="button" value="Register" ></input>
  </fieldset>
</form>
